.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin:  0 auto; */
    margin-top: 20px;

}

.input-form {
    width: 300px;
    height: 25px;
    margin: 10px;
    text-decoration: none;
    
}


.input-form:hover {
    border-color: cyan;
}

.btn-submit {
    width: 308px;
    height: 34px;
}

.num-counter {
    color: tomato;
    font-weight: bold;
}